.main-part-notifications {
    width: 78%;
}

.main-part-notifications .main-section{
    width: 642px;
    height: 596px;
    overflow-x: hidden;
}

.notifications-title {
    height: 53px;
    /* backdrop-filter: blur(15px);  */
}

.notifications-title .notification-h2 {
    font-size: 20px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.notifications-title .settings-icon{
    height: 20px;
    display: block;
}

.settings-link-container {
    height: 30px;
    width: 30px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 50%;
  
}

.settings-link-container:hover {
  background-color: rgba(15, 20, 25, 0.1); 
     opacity: .4;
}

.nav-items-container {
    height: 3.3125rem;
}

.notification-link.active {
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #1d9bf0;
    text-underline-offset: 17px;
    font-weight: bold;
    color: black;
}

#notifications-navbar {
    top:53px;
    /* backdrop-filter: blur(15px); */
    padding-bottom: 0px;
}

.notifications-wrapper{
    backdrop-filter: blur(15px);
}


  
